<h1>FAQ</h1>
<p>GET IN LINE SISTER!!! Oh! MY GIRLFRIEND WON'T TALK TO ME ANYMORE BECAUSE SHE IS IN LOVE WITH YOU. Yeah, well he says you're dumb and a crappy guy. dear mr bad, Well, see ya next week. No, they probably said I had tape on my leg or my shoe and you thought they said that my leg was made of tape. If you hate Homsar so much, why don't you kill him?</p>
<p>Are you asking about soccer? Though I decided to take it in a bit of a different direction. Email, dud-duh-doo-duh-dud-duh, dud-duh-doo-duh-dud-duh... I got two words for ya: false advertising. I'm hooome! Though I think we have some leftover balloons from a party we threw last night. Josh, John & Doug.</p>

<button class="btn btn-success" routerLink="/">Go back</button>