<h1>FAQ</h1>
<hr>

<h3>Who drew all of the awesome pictures?</h3>
<p>Great question! None other than kaiju afficionado, <a href="https://lisanaffziger.crevado.com/">Lisa Naffziger</a>. I've had the privilege of knowing Lisa for a little over three years now, not only as a fellow giant monster fan but also, and more importantly, as someone I would consider a dear friend. (She has also contributed some <a href="../../assets/lisa-commissions/kapostle.png">great</a>&nbsp;<a href="https://twitter.com/lisanaffziger/status/1371803582723465217?fbclid=IwAR2toUa4xSu-77-Npn4SthPOeNp9YeaLJqFfUbMYDt7CwItGI1PMpgsnEyA">artwork</a> for a few of the podcasts I've created!) She has several graphic novels that are out now, along with a few that have been picked up for publication, so make sure to check out her <a href="https://lisanaffziger.crevado.com/">portfolio</a>. Also, she has a <a href="https://society6.com/lisanaffziger">Society6</a> page with some wonderful designs! (And yes, I did get permission to use them on here!)</p> 

<hr class="divider">

<h3>Wait, (insert name here) isn't a kaiju! What gives?</h3>
<p>You're not a kaiju!</p>

<hr class="divider">

<h3>....seriously? Are you thirteen?</h3>
<p>No, although my humor hasn't matured much since I discovered Homestar Runner. Anyway, yes, not <strong>all</strong> of the monsters you can select from are <i>technically</i> kaiju. However, I'd rather have fun than be pedantic, so there you go.</p>

<hr class="divider">

<h3>Also, (insert name here) is taller than what you have listed. Why did you make such a rookie mistake?</h3>
<p>For the most part, the Ultraman kaiju have stayed consistent in "canonical" size, but with Godzilla, it goes alllllll over the place. I decided to settle on first appearances, because otherwise, there would be a million and a half options.</p>

<hr class="divider">

<h3>Fess up: did anyone actually ask any of these questions?</h3>
<p>No. :(</p>

<p>But seriously, please support Lisa's work.</p>

<button class="btn btn-success" routerLink="/">Go back</button>