.kaiju-div {
    display: inline-block;
    text-align: center;
}

.not-selected {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

h3 {
    position: inherit;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

@media screen and (max-width: 700px){
    img {
        width: 200px;
        height: 200px;
    }
    .kaiju-display {
        margin-bottom: -1.25rem;
    }
}