input {
    text-align: center;
    margin-top: 1rem;
    margin-right: 1rem;
}

button {
    margin-top: 1rem;
}



@media screen and (max-width: 700px){
    input {
        margin-bottom: .5rem;
    }

    button {
        margin-top: .5rem;
        margin-bottom: 1rem;
    }
}

