<div>
    <label>
        <strong>Select initial value:</strong>
    </label>
</div>
<div>
    <input type="text" #calculatorInput class="shadow-sm" style="border-radius: 40px" [(ngModel)]="calculatorInputCheck">
    <select name="" #unitChoiceSelector class="shadow-sm" style="border-radius: 10px">
        <option *ngFor="let unit of units" value="{{unit}}">{{unit}}</option>
    </select>
</div>
<div>
    <button 
    [disabled]="calculatorInputCheck === ''" 
    class="btn btn-primary" 
    (click)="onButtonClick(+calculatorInput.value, unitChoiceSelector.value)">
        Convert
    </button>
</div>
