<div class="text-center">
    <label>
        Select initial value:
    </label>
    <input type="text">
    <select name="" id="">
        <option value="mm">mm</option>
        <option value="cm">cm</option>
        <option value="m">m</option>
        <option value="km">km</option>
        <option value="in">in</option>
        <option value="ft">ft</option>
        <option value="yd">yd</option>
        <option value="mi">mi</option>
        <option value="nm">nm</option>
    </select>
</div>
